*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer
{
    background: #D92B2B;
    color: #fff;
    padding: 22px 8%;
    width: 100vw;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    column-gap: 5rem;
}
.logo_footer
{
    height: auto;
    width: 30vw;
}

.footer-info{
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.footer-info h1{
    font-size: 20px;
    font-weight: 10px;
}

.endereco p{
    width: 240px;
}

.iconsContato {
   display: flex;
   gap: 14px;
}

.iconsContato a{
    color: #fff;
}
@media (max-width: 1070px)
{
    .footer-container
    {
        column-gap: 2rem;
    }
}
@media (max-width: 900px)
{
    .footer-container
    {
        grid-template-columns: repeat(1,1fr);
        row-gap: 1rem;
        padding-bottom: 1rem;
    }
    .logo_footer
    {
        height: 10rem;
        width: auto; 
    }
    .iconsContato
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 1rem;
        margin-top: 1rem;
    }
}