.footer{
    background: #D92B2B;
    color: #fff;
    padding: 22px 8%;
    width: 100vw;
}

.footer-container{
    display: flex;
    gap: 60px;
    justify-content: center;
}

.footer-logo img{
    width: 300px;
}

.footer-info{
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.footer-info h1{
    font-size: 20px;
    font-weight: 10px;
}

.endereco p{
    width: 240px;
}

.iconsContato {
   display: flex;
   gap: 14px;
}

.iconsContato a{
    color: #fff;
}
