@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root
{
    --vermelho:#FF261F;
    --verde:#5BD15B;
    --preto: #343434;
    --branco: #F5F5F5;
}

.opcoescardapio
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: end;
    row-gap: 3rem;
    margin-bottom: 2rem;
    column-gap: 50%;
}
.cardapiocategoria
{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    width: 80vw;
    justify-self: center;
    align-self: center;
    place-items: start;
}
.titulocardapio
{
    color: var(--vermelho);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@media (max-width: 1300px)
{
    .opcoescardapio
    {
        column-gap: 35%;
    }
}
@media (max-width: 1100px)
{
    .opcoescardapio
    {
        column-gap: 25%;
    }
}
@media (max-width: 970px)
{
    .opcoescardapio
    {
        column-gap: 15%;
    }
}
@media (max-width: 850px)
{
    .opcoescardapio
    {
        grid-template-columns: repeat(2,1fr);
        column-gap: 60%;
    }
}
@media (max-width: 700px)
{
    .opcoescardapio
    {
        column-gap: 40%;
    }
}
@media (max-width: 600px)
{
    .opcoescardapio
    {
        grid-template-columns: repeat(2,1fr);
        column-gap: 20%;
    }
}
@media (max-width: 520px)
{
    .opcoescardapio
    {
        grid-template-columns: repeat(1,1fr);
        column-gap: 0%;
    }
    .cardapiocategoria
    {
        place-items: center;
    }

}